@import 'tailwindcss';

@theme {
  --primary: rgba(253, 230, 138, 0.3); /* 메인 컬러 */
  --secondary: rgba(255, 255, 255, 0.1); /* 서브 컬러 */

  --border-primary: rgba(251, 191, 36, 0.4); /* 보더 컬러 */
  --field-background: rgba(255, 255, 255, 0.1); /* 폼(입력 필드) 배경 */
  --background-dark: rgba(69, 26, 3, 0.8); /* 전체 백그라운드 */
}

:root {
  * {
    @apply text-white;
  }

  button {
    @apply cursor-pointer;
  }
}
